.env
PORT = 5000
JWT_SECRET_KEY = 
JWT_EXPIRES_IN = 
OPENAI_API_KEY = 
USER_EMAIL = quizzle.noreply@gmail.com
USER_PASSWORD = 
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 
OLLAMA_HOST = 
OLLAMA_MODEL = 